@model PublicationDetailsDto


    <h2>Информация о файле</h2>
    <form method="get" asp-controller="Publications" asp-action="GetpublicationById">

        <div>
            <label>Название файла:</label>
            <p>@Model.Name</p>
        </div>
        <div>
            <label>Фамилия Имя Отчество автора:</label>
            <p>@Model.AuthorFullName</p>
        </div>
        <div>
            <label>Время и дата загрузки файла:</label>
            <p>@Model.UploadDateTime</p>
        </div>
    </form>