@model RegisterModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="Person.Firstname">Имя</label><br />
        <input asp-for="Person.Firstname" />
        <span asp-validation-for="Person.Firstname"></span>
    </div>

    <div>
        <label asp-for="Person.Patronymic">Отчество</label><br />
        <input asp-for="Person.Patronymic" />
        <span asp-validation-for="Person.Patronymic"></span>
    </div>

    <div>
        <label asp-for="Person.Lastname">Фамилия</label><br />
        <input asp-for="Person.Lastname" />
        <span asp-validation-for="Person.Lastname"></span>
    </div>

    <div>
        <label asp-for="Person.ВirthDate">Дата рождения</label><br />
        <input asp-for="Person.ВirthDate" />
        <span asp-validation-for="Person.ВirthDate"></span>
    </div>

    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>