@model RegisterModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmedPassword"></label><br />
        <input asp-for="ConfirmedPassword" />
        <span asp-validation-for="ConfirmedPassword"></span>
    </div>
    <div>
        <label asp-for="Firstname">Имя</label><br />
        <input asp-for="Firstname" />
        <span asp-validation-for="Firstname"></span>
    </div>

    <div>
        <label asp-for="Patronymic">Отчество</label><br />
        <input asp-for="Patronymic" />
        <span asp-validation-for="Patronymic"></span>
    </div>

    <div>
        <label asp-for="Lastname">Фамилия</label><br />
        <input asp-for="Lastname" />
        <span asp-validation-for="Lastname"></span>
    </div>

    <div>
        <label asp-for="ВirthDate">Дата рождения</label><br />
        <input asp-for="ВirthDate" />
        <span asp-validation-for="ВirthDate"></span>
    </div>

    <div>
        <br />
        <input type="submit" value="Зарегистрироваться" />
    </div>
</form>